*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Prompt',sans-serif;
    background:#e9ddcf;
}

/* Header aca */
.header{
    background:#233847;
    padding:40px 0;
    text-align:center;
}

.header h1{
    color:#fff;
    font-size:48px;
    font-weight:700;
}

/* layout */
.main-section{
    padding:60px;
}

.card-wrapper{
    display:flex;
    gap:40px;
}

/* 1d white content card */
.card{
    flex:1;
    background:#d8d8d8;
    border-radius:15px;
    overflow:hidden;
    box-shadow:0 10px 25px rgba(0,0,0,0.2);
    align-self: flex-start;
}

/* title 1d */
.card-header{
    background:#eda74a;
    padding:35px 25px;
    position:relative;
    text-align:center;
}

.card-header h2{
    font-size:22px;
    font-weight:700;
}

/* 3dots */
.dots{
    position:absolute;
    top:12px;
    left:15px;
    display:flex;
    gap:6px;
}

.dot{
    width:10px;
    height:10px;
    border-radius:50%;
}

.red{background:#FF0000;}
.yellow{background:#FFF70C;}

/* content card */
.card-content{
    padding:25px;
    font-size:16px;
    line-height:1.8;
}

/* button slideshow */
.toggle-btn{
    background:#233847;
    color:#fff;
    margin:22px;
    padding:15px 20px;
    border-radius:15px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    cursor:pointer;
    box-shadow:0 10px 20px rgba(0,0,0,0.3);
}

.left{
    display:flex;
    align-items:center;
    gap:12px;
}

.icon-box{
    font-size:22px;
}

.arrow-circle{
    width:40px;
    height:40px;
    background:#f5a623;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:18px;
    transition:0.3s;
    box-shadow:0 0 15px rgba(255,165,0,0.7);
}

/* content flow & arrow */
.toggle-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
}

.card.active .arrow-circle{
    transform:rotate(180deg);
}

.gold-line{
    height:3px;
    background:#eda74a;
}

/* กล่องที่สไลด์ลงมาตอนกดปุ่ม */
.fee-box{
    background:#233847;
    color:#fff;
    text-align:center;
    padding:30px;
    border-radius:0 0 15px 15px;
}

.fee-box h3{
    font-size:22px;
    margin-bottom:10px;
}

.price{
    font-size:36px;
    font-weight:700;
}

.fee-box p{
    font-size:18px;
}
/* image */
.content-image{
    width:100%;
    border-radius:10px;
    margin-top:15px;
}

/* ivon button */
.btn-icon{
    width:30px;
    height:px;
}
.academic-container {
    display: flex;
    align-items: flex-start;  
    gap: 30px;
}
.right-column {
    align-self: flex-start;
}
.course-link{
    color:#fff;
    text-decoration: underline;
    font-weight:600;
}

.course-link:hover{
    opacity:0.8;
}

body{
    margin:0;
    font-family:'Prompt', sans-serif;
    background:#FEEFDC;
    overflow-x:hidden;
    position:relative;
}

/* stripe overlay l */
body::before{
    content:"";
    
    top:0;
    left:1;
    width:100%;
    height:100%;
    background:url("background-pattern.png") left center no-repeat;
    background-size:cover;
    opacity:0.25;
    z-index:-1;
}

/* stripe overlay r */
body::after{
    content:"";
    position:fixed;
    top:0;
    right:0;
    width:50%;
    height:100%;
    background:url("background-pattern.png") right center no-repeat;
    background-size:cover;
    opacity:0.25;
    z-index:-1;
}

.program-section{
    width:100%;
    max-width:100%;
    margin:0;
    padding:0;
}

/* กล่องหลัก */
.program-wrapper{
    margin-bottom:80px;
}

/* ตำแหน่งกรอบ */

.top-box .main-img{
    width:85%;
    display:block;
    margin-left:auto;   /* ดันไปขวา */
    transform: rotate(180deg);
}


.bottom-box .main-img{
    width:85%;
    display:block;
    margin-right:auto;  /* ดันไปซ้าย */
}

/* หัวข้อกรอบ */
.program-header{
    position:relative;
    display:block;
    width:35%;
    padding:12px 28px;
    font-weight:700;
    font-size:22px;
    border:4px solid #2c3e50;
    border-radius:20px;
}

.top-box .program-header{
    margin-right:auto;
}

.bottom-box .program-header{
    margin-left:auto;
}

/* เส้นกรอบซ้อน */
.program-header::before{
    content:"";
    position:absolute;
    top:-8px;
    left:3px;
    right:-8px;
    bottom:3px;
    border:3px solid #2c3e50;
    border-radius:20px;
    z-index:-1;
}

/* แถบส้ม */
.orange-bars{
    position:absolute;
    bottom:10px;
    right:20px;
    display:flex;
    align-items:flex-end;
    gap:6px;
}

.orange-bars span{
    background:#f39c12;
    display:block;
}

.orange-bars span:nth-child(1){ width:8px; height:3px; }
.orange-bars span:nth-child(2){ width:18px; height:4px; }
.orange-bars span:nth-child(3){ width:25px; height:5px; }
.orange-bars span:nth-child(4){ width:35px; height:6px; }
.orange-bars span:nth-child(5){ width:45px; height:8px; }
.orange-bars span:nth-child(6){ width:55px; height:10px; }

/* image */

.image-container{
    position:relative;
    margin-top:40px;
}

/* stripe */
.top-box .main-img,
.bottom-box .main-img{
    width:100%;
    margin:0;
}

/* รูปซ้อนกลาง */
.overlay-img{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:90%;
    max-width:1400px;
    border-radius:10px;
    box-shadow:0 10px 25px rgba(0,0,0,0.35);
    z-index:5;
}


/* RESPONSIVE */
@media(max-width:900px){
    .card-wrapper{
        flex-direction:column;
    }
}